body {
  background-color: #e7f1fb; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  -webkit-box-sizing: border-box; }

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  overflow: auto;
  overflow-y: auto; }
  @media (min-width: 768px) {
    .center {
      max-height: 780px; } }

input {
  border-radius: 2px;
  border: 1px solid #eaf0fa;
  padding: 0 2px 0 10px;
  color: #4c5669;
  font-size: 16px;
  line-height: normal;
  height: 40px;
  margin-bottom: 5px; }

textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #d6e0f1;
  border-radius: 4px;
  resize: none;
  padding: 5px;
  font-size: 16px;
  outline: 0; }

button {
  background: #3f90dc;
  color: #fff;
  font-weight: 600;
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 0;
  padding-top: 8px;
  text-decoration: none;
  border-radius: 4px; }
  button:hover {
    background: #8fbeeb; }

.content {
  width: 100%;
  text-align: center;
  background-color: #e7f1fb; }

.container {
  min-width: 200px;
  min-height: 100px;
  padding: 10px;
  border-radius: 0.25rem;
  background-color: #fff; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.form {
  margin-bottom: 15px; }

.alert, .alert-info, .alert-danger {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

table {
  margin-bottom: 30px;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  text-align: center; }
  table thead {
    border-bottom: 1px dashed #d6e0f1;
    font-family: 'Proxima Nova',sans-serif; }
    table thead tr {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd; }
      table thead tr td {
        border-right: 2px solid #ecf2fc; }
      table thead tr th {
        white-space: nowrap;
        vertical-align: top;
        border-bottom: 0;
        font-weight: 600;
        vertical-align: middle;
        padding: 10px 10px 5px;
        word-break: break-all; }
  table tbody {
    display: table-row-group;
    vertical-align: middle; }
    table tbody tr td {
      word-break: keep-all;
      white-space: pre-line;
      border-right: 2px solid #ecf2fc;
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
      border-top: 0;
      border-bottom: 2px solid #ecf2fc;
      vertical-align: middle;
      border-right: 2px solid #ecf2fc; }
      table tbody tr td:last-child {
        border-right: 0; }
