body {
  background-color: #e7f1fb; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

input {
  border-radius: 2px;
  border: 1px solid #eaf0fa;
  padding: 0 2px 0 10px;
  color: #4c5669;
  font-size: 16px;
  line-height: normal;
  height: 40px;
  margin-bottom: 5px; }

textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #d6e0f1;
  border-radius: 4px;
  resize: none;
  padding: 5px;
  font-size: 16px;
  outline: 0; }

button {
  background: #3f90dc;
  color: #fff;
  font-weight: 600;
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 0;
  padding-top: 8px;
  text-decoration: none;
  border-radius: 4px; }
  button:hover {
    background: #8fbeeb; }

.content {
  width: 100%;
  text-align: center;
  background-color: #e7f1fb; }

.container {
  min-width: 200px;
  min-height: 100px;
  padding: 10px;
  border-radius: 0.25rem;
  background-color: #fff; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.form {
  margin-bottom: 15px; }

.alert, .alert-info, .alert-danger {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }
