
table {
  margin-bottom: 30px;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  text-align: center;

  thead {
    border-bottom: 1px dashed #d6e0f1;
    font-family: 'Proxima Nova',sans-serif;
    
    tr {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;

      td {
        border-right: 2px solid #ecf2fc;
      }

      th {
        white-space: nowrap;
        vertical-align: top;
        border-bottom: 0;
        font-weight: 600;
        vertical-align: middle;
        padding: 10px 10px 5px;
        word-break: break-all;
        
      }
    }
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    
    tr {  
      
      td {
        word-break: keep-all;
        white-space: pre-line;
        border-right: 2px solid #ecf2fc;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        border-top: 0;
        border-bottom: 2px solid #ecf2fc; 
        vertical-align: middle;
        border-right: 2px solid #ecf2fc;

        &:last-child() {
          border-right: 0;
        }
        
      }

     

    }
    
  }
  
}
